
* {
  margin: 0;
  box-sizing: border-box;
  box-sizing: padding-box;
}


nav{background: #6441a4;
  color: white;

}
.left{float: left;
}
.right{float: right;
  margin: 5px;
}
.clearfix{clear: both;}

#logo{padding: 10px 20px;}

.nav-link{
  padding: 10px 20px;
  color: #d3cae8;

}

#search{width: 60%;}

.nav-link2{
  align-items: center;
  padding-right: 10px;
  color: #d3cae8;
  white-space: nowrap;
  text-align: center;
}

footer{
  background-color: black;
  clear: both;
  color: white;
  padding-top: 70px;
  padding-bottom:70px;
  margin: 0 auto;
  margin-top: 70px;
  font-size: 12px;
}
footer ul{margin: 0;}
li {
  list-style-type: none; float: left; margin: 4px; }


#espacio-pesado{margin-right: 57px;}

.games{
  margin: 0 auto;
  width: 980px;
  margin-top: 60px;
}

.titulo{
  float: left;font-family: Helvetica,Arial,sans-serif;font-size: 28px; width: 27%;margin-bottom: 20px;
}

.titulo2{
  float: left;font-family: Helvetica,Arial,sans-serif;font-size: 28px; width: 33%;margin-bottom: 20px;
}

.subtitulo{
  width: 60%; float: left; color: #6e6779; font-size: 25px;font-family: Helvetica,Arial,sans-serif;margin-top: 3px;margin-bottom: 20px;
}

.see{
  text-align: right;color: #6441a4; font-size: 18px;
}
.piefoto2{
  width: 300px; float: left; margin-right: 15px; font-size: 15px;margin-bottom: 35px;}

.piefoto{
  width: 148px; float: left; margin-right: 15px; font-size: 15px;margin-bottom: 35px;}

#slider-container{width: 100%auto;
  background-color: black;
  height: 540px;
  padding-top: 1%;}

#slider{
  background-color: white;
  width: 980px;
  margin: 0 auto;
  height: 96%;}


#separador{width: 100%;
   border-top: 1px solid;
   border-bottom: 1px solid;
   padding-top: 60px;
   padding-bottom: 60px;
   background-image: url(https://static.twitchcdn.net/assets/homepage_social_background-9d42135d62571247820a35af5883177f.png);
   background-repeat: no-repeat;
   background-position: 50%;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   text-align: center;
 }
